*.pyc
*.txt
!requirements.txt
!debian_apt_requirements.txt
!TODO.txt
media/
.idea/
apps/djing2/local_settings.py
*.json
*.bak
*.mo
db.sqlite3
venv/
static/
__pycache__/
apps/devices/device_config/custom/*.py
!apps/devices/device_config/custom/__init__.py
