*.pyc
*.txt
!requirements.txt
!TODO.txt
media/
.idea/
djing2/local_settings.py
*.json
*.bak
*.mo
db.sqlite3
venv/
static/
__pycache__/
devices/switch_config/custom/*.py
!devices/switch_config/custom/__init__.py
