*.pyc
*.txt
!requirements.txt
!TODO.txt
media/
!media/task_attachments/.keep
!media/viber_avatar/.keep
!media/user/avatar/.keep
!media/messages_attachments/.keep
.idea/
djing2/local_settings.py
*.json
*.bak
*.mo
db.sqlite3
venv/
static/
__pycache__/
devices/switch_config/custom/*.py
!devices/switch_config/custom/__init__.py
