wheel
Django==2.2.9
djangorestframework==3.10.3
Pillow==6.2.0

# for mac address field
netaddr==0.7.19

# db client for Postgres
psycopg2==2.8.4

git+git://github.com/nerosketch/easysnmp.git#egg=easysnmp
pid==2.2.5
django-guardian==2.1.0
djangorestframework-guardian==0.3.0

requests==2.22.0
transliterate==1.10.2

# xml for pay system allpay
djangorestframework-xml==1.4.0

# django-bitfield
git+git://github.com/disqus/django-bitfield.git#egg=django-bitfield

# django_cleanup for clean unused media
git+git://github.com/un1t/django-cleanup.git#egg=django_cleanup

# viberbot
git+git://github.com/Viber/viber-bot-python.git#egg=viberbot

celery==4.3.0
redis==3.3.8

django-cors-headers==3.1.0
django-encrypted-model-fields==0.5.8
django-netfields==1.2.2

# pexpect
git+git://github.com/pexpect/pexpect.git#egg=pexpect

django-filter==2.2.0
pylibmc==1.6.1
djangorestframework-queryfields==1.0.0
django-debug-toolbar
