Django==3.1.7
djangorestframework==3.12.2
Pillow==8.1.1

# permissions
django-guardian

# for mac address field
netaddr==0.8.0

# db client for Postgres
psycopg2-binary==2.8.6

git+git://github.com/nerosketch/easysnmp.git#egg=easysnmp
pid==3.0.4

transliterate==1.10.2

# xml for pay system allpay
djangorestframework-xml==2.0.0

# django-bitfield
git+git://github.com/disqus/django-bitfield.git#egg=django-bitfield

# for clean unused media
django-cleanup==5.1.0

# viberbot
git+git://github.com/Viber/viber-bot-python.git#egg=viberbot

uwsgi_tasks==0.7.3
redis==3.5.3

django-cors-headers==3.7.0
git+https://gitlab.com/slei99/django-encrypted-model-fields.git#egg=django-encrypted-model-fields
django-netfields==1.2.2

# pexpect
git+git://github.com/pexpect/pexpect.git#egg=pexpect

django-filter==2.4.0
pylibmc==1.6.1
djangorestframework-queryfields==1.0.0
django-debug-toolbar==3.2

djangorestframework-guardian

django-webpush==0.3.3

# linters, and pre commit hook
flake8==3.9.0
pre-commit==2.11.1
autoflake==1.4
black==20.8b1
pyupgrade==2.11.0
